body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}


nav {
    background-color: #444;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
}

li {
    list-style: none;
    margin: 0 15px;
    display: inline-block;
    box-shadow: 0px 2px 5px #f0f0f0;
}

a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    background-color: #333;
    border-radius: 10px;
    padding: 8px 12px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

a:hover {
    text-decoration: underline;
    background-color: #555;
}


.login-container {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzWtUZPkXS9Xx8w2Jgj-uUhKS0e1wGnx60ig&s);
    background-size:cover;
    background-position: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    margin: 40px auto; 
}

.login-container h1 {
    text-align: center;
    color: #fff8f8;
    margin-bottom: 20px;
}


.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #ffffff;
}

.form-group input {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.form-group input:focus {
    border-color: #007bff;
    outline: none;
}


.login-btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: #0056b3;
}


